@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

* {
	font-family: 'Mali', cursive;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

.navbar-container {
	background-image: url('./baner.png');
	width: 100vw;
	height: 18vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-container p {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px black;
	letter-spacing: 5px;
	font-size: 36px;
	font-weight: 700;
}

.footer-container {
	position: absolute;
	bottom: 0;
	width: calc(100vw - 20px);
	height: 5vh;
	margin: 10px;
	background: rgb(236, 236, 236);
	display: flex;
	justify-content: space-evenly;
}

.content {
	display: grid;
	column-gap: 20px;
	margin: 0 10px;
}

.menu-section {
	grid-column: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-section ul {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.menu-section ul li {
	margin: 20px 0;
	font-size: 24px;
	transition: 300ms all;
	transform: scale(1);
}

.menu-section ul li:hover {
	transform: scale(1.3);
}

.content-section {
	overflow-y: scroll;
	height: 70vh;
	margin: 25px 0;
	grid-column-start: 2;
	grid-column-end: 4;
}

.forms-container {
	display: flex;
}

.forms-container form:last-child {
	margin: 0 20px;
}

.books-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.book-container {
	display: flex;
	margin: 10px;
}

.book-details {
	display: flex;
	margin: 0 10px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

.title {
	font-weight: 700;
}

.name {
	font-weight: 300;
}

.year {
	font-weight: 300;
}

.genre {
	font-weight: 300;
}

.book-container:hover {
	cursor: pointer;
}
